<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <title>Vender Producto</title>

  <body>
    <%- include("../partials/header") %>

    <main>
      <div class="edit-product">
        <form action="/products/create" method="post" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Producto" />
          <input type="text" name="description" placeholder="Descripcion Breve" />
          <input type="text" name="fulldescription" placeholder="Descripcion Larga" />
          <input type="text" name="price" placeholder="Precio" />
          <input type="text" name="discount" placeholder="Descuento" />
          <input type="text" name="category" placeholder="Categoria" />
          <input type="file" name="image" id="image" multiple />
          <div>
            <label><b> Categoria </b>:</label>
            <select name="category" class="form-select">
              <option value=""> Elegi una categoria</option>
              <%
                let categorias = ["TV", "Audio", "Video", "Electrodomesticos", "Computacion", "Celulares"];
                %>
                <% for (const categoria of categorias) { %>
                  <option value="<%=categoria%>"> <%= categoria %> </option>
                <% } %>
            </select>
          </div>
          <br />
          <input type="submit" value="Crear" />
        </form>
        
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
