<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

    <title>Editar Producto</title>

  <body>

      <%- include("../partials/header") %>

    <main>
    
        <form class="form-register" action = "?_method=PUT" method="post"enctype="multipart/form-data" >

          <h2>VAS A EDITAR PRODUCTO: <%= product.name %></h2>
            <input class="controls" type="text" name="nombreProducto" id="Nombre de Producto" placeholder="Ingrese Producto" 
            value="<%= product.name ?? ''%>">

            <input class="controls" type="text" name="descripcion" id="Descripcion" placeholder="Ingrese Descripcion" 
            value="<%= product.description ?? ''%>">

            <input class="controls" type="text" name="precio" id="Categoria" placeholder="Ingrese Categoria" 
            value="<%= product.price ?? ''%>">

            <input class="controls" type="text" name="descuento" id="Categoria" placeholder="Ingrese Categoria" 
            value="<%= product.discount ?? ''%>">

            <input class="controls" type="text" name="categoria" id="Oferta o Novedad" placeholder="Ingrese si es Oferta o Novedad" 
            value="<%= product.category ?? ''%>">

            <input class="controls" type="file" name="imagen" id="Imagen" placeholder="Adjunte Imagen" 
            value="<%= product.imagen ?? ''%>"> 

            <input class="botons" type="submit" value="Subir">
        </form>
    </main>

      <%- include("../partials/footer") %>

  </body>
</html>