<!DOCTYPE html>
<html lang="en">
  
    <%- include("../partials/head") %>  
    
    <title>Carrito de Compras</title>
  
  <body>
    <!------ HEADER -------->
    <%- include("../partials/header") %>

    <main>
      <h4>CARRITO DE COMPRAS</h4>
      <div class="div-carrito">
        <!-- Articulos en Carrito -->
        <div class="div-articulos">
          
          <% for( let i = 0; i < 3/*products.length*/; i++ ) { %>
            <div class="nuevo-articulo">  
            <img src= <%= products[i].imagen %> />  
            <h3> <%= products[i].name %> </h3>
            <div class="div-precio">
            <P class="precio">  $ <%= products[i].price %> </P>
            <P class="descuento">  <%= products[i].discount %> % off</P>
          </div>
            <a href= "#" >Mas Detalles <i class="fas fa-angle-double-right"> </i></a>
          </div>
          <% } %>

          <!-- <div class="nuevo-articulo">
            <img src="/img/pava-atma.jpg" alt="" />
            <h3>Pava Electrica Atma</h3>
            <div class="div-precio">
              <p class="precio">$20.770</p>
              <p class="descuento">40% off</p>
            </div>
            <a href="#"
              >Mas Detalles <i class="fas fa-angle-double-right"></i
            ></a>
          </div>

          <div class="nuevo-articulo">
            <img src="/img/img-tv-samsung-smart.jpg" alt="" />
            <h3>Smart TV Samsung</h3>
            <div class="div-precio">
              <p class="precio">$60.200</p>
              <p class="descuento">40% off</p>
            </div>
            <a href="#"
              >Mas Detalles <i class="fas fa-angle-double-right"></i
            ></a>
          </div>

          <div class="nuevo-articulo">
            <img src="/img/img-cafetera-moulinex.jpg" alt="" />
            <h3>Cafetera Moulinex</h3>
            <div class="div-precio">
              <p class="precio">$30.500</p>
              <p class="descuento">40% off</p>
            </div>
            <a href="#"
              >Mas Detalles <i class="fas fa-angle-double-right"></i
            ></a>
          </div> -->
        </div>
        <div class="div-totales">
          <div class="div-logo">
            <img src="/img/Logo-prueba2.png" width="25%" alt="Logo de MI NOMBRE"/>
          </div>
          <h3 class="h3-totales">TOTAL COMPRAS</h3>
          <div class="div-precioFinal">$ 111.470,00</div>
          <div>
            <form action="javascript:void(0);">
              <div class="div-botones">
                <a href="/"> <button>PAGAR</button></a>
              </div>
              <div class="div-botones">
                <a href="/"> <button>Vaciar Carrito</button></a>
              </div>
              <div class="div-botones">
                <a href="/"> <button>Comprar más</button></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
