<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>  
    
    <title>Detalle de Producto</title>
<body>
    
      <%- include("../partials/header") %>

      <main>
      <h4>Detalle de Producto</h4>
      <div class="ofertas">
        <!-- Articulos en Detalle -->
        
          <div class="image-container">  
            <div class="product-details">

            <img src= <%= productoFiltrado.imagen %> />
            <h3> <%= productoFiltrado.name %> </h3>
            <div class="div-precio">
            <p class="precio">  <%= productoFiltrado.price %>$  </p>
            <p class="descuento">   <%= productoFiltrado.discount %>% off</p>
          </div>
          </div> -->
          </div>

        <div class="detalle-articulo">
        <h2>Detalle: <%= productoFiltrado.fulldescription %> </h2>
        
      </div>
      
      </div>
    </main>
    
    <footer>
        <%- include("../partials/footer") %>
      </footer>

</body>
</html>

