<!DOCTYPE html>
<html lang="en">
  
    <%- include("../partials/head") %>  
    
    <title>Carrito de Compras</title>
  
  <body>
    <!------ HEADER -------->
    <%- include("../partials/header") %>

    <main>
      <h4>CARRITO DE COMPRAS</h4>
      <div class="ofertas">
  
        <% for( let i = 0; i < 4/*products.length*/; i++ ) { %>
        <div class="container">	
        <div class="product-details">
          
        <h1><%= products[i].name %></h1>
        <!-- <span class="hint-star star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span> -->
        <p class="information">ACA VAN MAS DETALLES DEL PRODUCTO</p>
      <div class="control">
        
        <button class="btn">
         <span class="price"> $ <%= products[i].price %></span>
         <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
         <span class="buy">C</span>
       </button>
      </div>
      </div>
      <div class="product-image">
        
        <img src= <%= products[i].imagen %> alt="">
        
      
      <div class="info">
        <h2> Description</h2>
        <ul>
          <li><strong>Height : </strong>5 Ft </li>
          <li><strong>Shade : </strong>Olive green</li>
          <li><strong>Decoration: </strong>balls and bells</li>
          <li><strong>Material: </strong>Eco-Friendly</li>
          
        </ul>
      </div>
      </div>
        </div>
        <% } %>
    </div>
    </div>
        <div class="contenedor-totales">
          <div class="div-logo">
            <img src="/img/Logo-chico.png" alt="Logo de MI NOMBRE"/>
          </div>
          <div class="div-precioFinal">
          <h3 class="h3-totales">TOTAL COMPRAS</h3>
          <p>$ 111.470,00</p></div>
          <div>
            <form action="javascript:void(0);" style="display: block";>
              <div >
                <a href="/"> <button class="boton-carrito">PAGAR</button></a>
              </div>
              <div >
                <a href="/"> <button class="boton-carrito">Vaciar Carrito</button></a>
              </div>
              <div >
                <a href="/"> <button class="boton-carrito">Comprar más</button></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
